.tab {
  border: 1px solid black;
  padding: 4px;
  cursor: pointer;
}

.tab pre {
  margin: 0;
}

.tab__selected {
  background-color: #111;
  color: white;
}

.tab:hover {
  animation: tab-hover 2s ease-in infinite;
}

@keyframes tab-hover {
  0% {
    border-radius: 0px;
  }
  50% {
    border-radius: 4px;
    border-color: white;
  }
  100% {
    border-radius: 0px;
  }
}
