.entry {
  padding: 20px 30px;
  max-width: 920px;
  background-color: #202b38;

  box-shadow: rgba(50, 50, 93, 0.1) 0px 25px 50px -10px,
    rgba(0, 0, 0, 0.1) 0px 15px 30px -15px;
}

.entry > div p span {
  background-color: transparent !important;
}

.entry > div > div > p {
  background-color: transparent !important;
}
